html {
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}


body {
  margin: 0;
  font-family: Inter, Fira Code, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  background-color: #0a192f;
  height: 100vh;
  padding: 0 100px;
  width: 100vw;
}
p {
  line-height: 1.6;
}

div {
  max-width: 1080px;
}

@media screen and (min-width: 768px) {
  body {
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 100vh;
  }
}

@media screen and (max-width: 768px) {
  html{
    scroll-padding-top: 2rem;
  }
  body {
    padding: 0 25px;
    width: 100vw;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  /* outline: limegreen solid 1px; */
}
