body {
  margin: 0;
  font-family: Inter, Fira Code, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  background-color: #0a192f;
  height: 100vh;
  padding: 0 100px;
}
p {
  line-height: 1.6;
}

@media screen and (min-width: 768px) {
  body {
    display: flex;
    justify-content: center;
    height: 100vh;
  }
}

@media screen and (max-width: 768px) {
  body {
    padding: 0 25px;
    width: 100%;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
